*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* START OF CONTAINER STYLING FOR MOBILE FIRST*/
.container{
    height: 100vh;
}

.container .face{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    color: var(--main-color);
    font-size: 1.2rem;
    padding-top: 1rem;
}

.container .face .facenote{
    display: none;
}
/* VARIABLE FOR MY THEME */
:root{
    --main-color: #3b5998;
}

.container form, p, .opt1{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.container form .email, .pass1, .log1{
    height: 3rem;
    width: 22rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.3rem;
}

.container form .email, .pass1{
    background-color: rgb(235, 231, 231);
}

.container form .email, .pass1, ::placeholder{
    padding-left: 0.4rem;
}

.container form .log1{
    background-color: var(--main-color);
    margin-top: 1rem;
    color: white;
}

.container form .forgot{
    margin-top: 1rem;
    color: var(--main-color);
    font-weight: 600;
}

.container form hr{
    margin-top: 1.7rem;
}

.container form #option{
    margin-top: -0.945rem;
    width: 5rem;
    height: 1rem;
    border: none;
    background-color: white;
    font-size: 1.3rem;
}

.container form .acc1{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.container form .acc1 #account{
    height: 2.5rem;
    width: 16rem;
    margin-top: 1.3rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border-color: rgb(233, 215, 215);
    background-color: white;
}

.container .language{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10rem 3rem auto;
}

.container .language .lang1 #eng{
    color: grey;
}

.container .links{
    text-align: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.container .links a{
    color: grey;
}

.container .links p{
    padding-top: 1rem;
}

.container .links .foot{
    display: none;
}
/* END OF CONTAINER STYLING */


/* DESKTOP RESPONSIVESNESS */

@media only screen and (min-width: 1024px){
    .container{
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 15%;

    }

    .box1{
        height: 85%;
        background-color: #e8e8e8;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .container .box1 .face{
        margin-top: 1rem;
        margin-right: 7rem;  
    }
    .container .box1 .face h1{
        font-size: 4.5rem;
        color: var(--main-color);
    }
    .container .box1 .face .facenote{
        display: contents;
        font-size: 1.5rem;
        color: black;
    }

    .container .box1 .formie{
        margin-top: 15rem;
        background-color: white;
        padding: 5rem 1rem 5rem 1rem ;
        margin-bottom: 10rem;
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0 0.2rem 0.5rem 0.3rem rgb(165, 164, 164);
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .container .box1 .formie form{
        display: grid;
        grid-template-columns: auto;
    }

    .container form .email, .pass1, .log1{
        height: 2.9rem;
        width: 22rem;
        margin-top: 1rem;
        border-radius: 0.3rem;
    }

    .container form .email, .pass1{
        outline: solid rgb(202, 200, 200);
    }
    
    .container form .email, .pass1{
        background-color: white;
    }
    
    .container form .email, .pass1, ::placeholder{
        padding-left: 0.325rem;
        font-size: 1.1rem;
    }
    
    .container form .log1{
        background-color: var(--main-color);
        margin-top: 1rem;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .container form .forgot{
        display: contents;
        margin-top: 1rem;
        color: var(--main-color);
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .container form .forgot a{
        font-size: 1.2rem;
    }
    
    .container form hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .container form #option{
        display: none;
    }
    
    .container form .acc1{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-content: center;
    }
    
    .container form .acc1 #account{
        height: 2.8rem;
        width: 13rem;
        margin-top: 0.5rem;
        font-weight: 600;
        font-size: 1.2rem;
        color: white;
        border-radius: 0.5rem;
        border-color: rgb(233, 215, 215);
        background-color: rgb(70, 177, 70);
        cursor: pointer;
    }


    .container .box2{
        height: 15%;
        background-color: white;
    }

    .container .box2 .language, .links a, p{
        display: none;
    }


    .container .box2 .links .foot{
        display: contents;
        color: rgb(80, 77, 77);
        font-size: 1rem;
    }

    .container .box2 .foot{
        padding: 3rem;
        color: rgb(80, 78, 78);
    }
}